<div class="container">
  <mat-tab-group class="custom-tabs">
    <mat-tab disabled>
      <ng-template mat-tab-label>
        <div class="tab-header-title">
          <span>Add New Bank</span>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="addingBankInProgress"
></mat-progress-bar>
<div id="new-account-dialog-content" class="dialog-content">
  <form [formGroup]="newBankForm">
    <div>
      <div class="field-row field-column-2">
        <mat-form-field appearance="outline">
          <mat-label>Bank Name</mat-label>
          <input matInput placeholder="Enter Name" formControlName="BankName" />
          <!-- <mat-error *ngIf="controlsValues.BankName.errors?.required">
            Name is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Bank Id</mat-label>
          <input
            matInput
            placeholder="Enter Bank Id"
            formControlName="BankId"
          />
          <!-- <mat-error *ngIf="controlsValues.BankId.errors?.required">
            Id is <strong>required</strong>
          </mat-error> -->
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div class="dialog-footer">
  <div class="custom-button-container" mat-dialog-actions align="end">
    <button
      mat-raised-button
      class="custom-button"
      color="primary"
      (click)="onCreateBank()"
      [disabled]="
        !newBankForm.valid || (addingBankInProgress ? true : false)
      "
    >
      Save
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      class="custom-button"
      color="primary"
      [disabled]="addingBankInProgress ? true : false"
    >
      Close
    </button>
  </div>
</div>
