#edit-account-dialog-content {
    max-width: 800px;
    min-width: 400px;
}

#password-fieldset {
    padding-bottom: 0;
}

#symbol-dropdown-searchbox-field {
    height: 68px;
}

#symbol-dropdown-searchbox-container {
    padding: 12px 12px 0 12px;
}