<mat-card>
  <!-- <mat-progress-bar
    mode="indeterminate"
    *ngIf="isProcessing"
    id="login-progress"
  ></mat-progress-bar>
  <p id="login-logo-container">
    <mat-icon
      id="login-logo"
      svgIcon="logo-dark"
      aria-hidden="false"
    ></mat-icon>
  </p> -->
  <form class="form" [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field class="form__input">
      <input
        matInput
        placeholder="User Name"
        type="name"
        formControlName="userName"
      />
    </mat-form-field>

    <mat-form-field class="form__input">
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>

    <div class="form-actions">
      <button
        class="form-actions__login"
        mat-raised-button
        color="primary"
        [disabled]="isProcessing"
      >
        Login
      </button>
      <button class="form-actions__forget" mat-button>Forget password</button>
    </div>
  </form>
</mat-card>
