<div id="login-container" class="container">
  <mat-card id="login-card">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="isProcessing"
      id="login-progress"
    ></mat-progress-bar>
    <form [formGroup]="loginForm" id="login-form">
      <p>
        <mat-form-field class="login-fields">
          <input
            matInput
            type="text"
            placeholder="Username"
            formControlName="userName"
          />
          <mat-error
            *ngIf="isSubmitted && controlsValues.userName.errors?.required"
          >
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="login-fields">
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="isSubmitted && controlsValues.password.errors?.required"
          >
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <div mat-dialog-actions>
        <button
          id="login-button"
          class="custom-button"
          mat-raised-button
          color="primary"
          (click)="onLogin()"
          [disabled]="isProcessing"
        >
          Login
        </button>
      </div>
    </form>
  </mat-card>
</div> 


