<mat-card>
<form class="form" [formGroup]="form" (ngSubmit)="register()">
  <mat-form-field class="form__input">
    <input matInput placeholder="Full name" formControlName="fullName">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="User name" formControlName="userName">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Email" type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field class="form__input">
    <input matInput placeholder="Password" formControlName="password">
  </mat-form-field>

  <div class="form-actions">
    <button class="form-actions__create" mat-raised-button color="primary" type="submit">Create your account</button>
  </div>
</form>
</mat-card>