#auth-container {
  height: 100vh;
  background: #e8e7e7;
  text-align: center;
}

#auth-content {
  max-width: 300px;
  max-height: 100%;
  height: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  padding: 0;
  text-align: left;
  border-radius: 0;
}

.auth-group {
  margin-top: 28px;

}

// .auth {

//   &__content-block {
//     width: 25%;
//     height: 50%;
//     background-color: rgb(101, 134, 136);
//   }

//   &__content-wrapper {
//     width: 80%;
//     height: 100%;
//     background-color: rgb(104, 136, 145);
//   }

//   &__group-title {
//     font-size: 32px;
//     font-weight: fw-normal;
//     margin-top: 37px;
//     letter-spacing: -0.7px;
//     text-align: center;
//     line-height: 37px;
//     color: dark-grey;
//   }

//   &__group-sub-title {
//     font-size: fs-large;
//     font-weight: fw-normal;
//     margin-bottom: 60px;
//     letter-spacing: -0.5px;
//     text-align: center;
//     line-height: 24px;
//     color: dark-grey;
//   }

// }
