<div id="auth-container" class="container default-theme">
  <div id="auth-content">
    <mat-tab-group class="auth-group">
      <mat-tab label="Login">
        <h4 class="auth-group-title">Welcome!</h4>
        <app-login (sendLoginForm)="sendLoginForm($event)"></app-login>
      </mat-tab>
      <mat-tab label="Register">
        <h4 class="auth-group-title">Create you account</h4>
        <app-register
          (sendRegisterForm)="sendRegisterForm($event)"
        ></app-register>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
