<div id="app-body" [class]="themeClass">
  <app-header
    [user]="user"
    (logoutEvent)="logout()"
    (toggleEvent)="sideBarToggler()"
    *ngIf="isLoggedIn$ | async as isLoggedIn"
  ></app-header>
  <mat-drawer-container>
    <mat-drawer
      mode="side"
      fixedInViewport="true"
      fixedTopGap="56"
      [opened]="sideBarOpen"
      *ngIf="isLoggedIn$ | async"
    >
      <app-sidebar-list></app-sidebar-list>
    </mat-drawer>
    <mat-drawer-content>
      <div class="mat-drawer-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
