<div class="container">
    <mat-tab-group class="custom-tabs">
        <mat-tab disabled>
            <ng-template mat-tab-label>
                <div class="tab-header-title">
                    <span>Confirmation</span>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
<div id="confirmation-dialog-content" class="dialog-content">
    <div class="material-icons-container">
        <span class="material-icons material-icons-default-size">help</span>
    </div>
    <span>{{confirmationMessage}}</span>
</div>
<div class="dialog-footer">
    <div class="custom-button-container" mat-dialog-actions align="center">
        <button mat-raised-button class="custom-button" color="primary" (click)="confirm(true)">Yes</button>
        <button mat-raised-button mat-dialog-close class="custom-button" (click)="confirm(false)"
            color="primary">No</button>
    </div>
</div>