#loader-container,
#loader-warning-overlay {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    #loader,
    #loader-warning-container {
        text-align: center;

        #loader-icon,
        #loader-warning-icon {
            margin: 0 auto;
        }
    }
}