<app-loader
  [totalNoOfItems]="totalNoOfBanks"
  [isFailedToRetrieve]="isBanksFailedToRetrieve"
  (retryRequestEvent)="retryRequestBanksList()"
>
</app-loader>
<div
  id="bank-panel-container"
  class="dashboard-panel-container"
  *ngIf="totalNoOfBanks != 0"
>
  <div class="dashboard-panel-option-container">
    <div class="dashboard-panel-option-item">
      <button
        mat-raised-button
        class="custom-button"
        color="primary"
        (click)="createNewBank()"
      >
        New Bank
      </button>
    </div>
    <div
      class="dashboard-panel-option-item dashboard-panel-option-item-text-container"
    >
      <span>There are </span><strong>{{ totalNoOfBanks }}</strong
      ><span> registered banks</span>
    </div>
    <div class="spacer"></div>
    <div class="dashboard-panel-option-item">
      <mat-form-field class="search-form-field" appearance="outline">
        <mat-label>Search Name</mat-label>
        <input
          matInput
          (keyup)="searchBoxKeyUp($event)"
          [(ngModel)]="searchBank"
          placeholder="Bank Name"
        />
        <button
          mat-button
          *ngIf="searchBank"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clearSearch()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <div class="dashboard-panel-option-item-button-container">
        <button
          mat-raised-button
          class="custom-button"
          color="primary"
          (click)="onSearchBank()"
        >
          Search
        </button>
      </div>
    </div>
  </div>

  <div id="bank-list-table-overlay-container" *ngIf="isSearching">
    <div class="container dashboard-table-overlay-main-container">
      <div
        class="dashboard-table-overlay-content-container"
        *ngIf="searchInProgress"
      >
        <mat-spinner
          class="dashboard-table-overlay-icon"
          [diameter]="32"
        ></mat-spinner>
        <span>Loading</span>
      </div>
      <div
        class="dashboard-table-overlay-content-container"
        *ngIf="!searchInProgress && !searchFound"
      >
        <div class="material-icons-container">
          <span
            class="dashboard-table-overlay-icon material-icons material-icons-default-size"
            >warning</span
          >
        </div>
        <span>Not found</span>
      </div>
    </div>
  </div>

  <div
    id="bank-list-table-container"
    class="dashboard-panel-content"
    [ngClass]="banksLength > banksPageSizeOption[0] ? 'paged' : 'full'"
    *ngIf="!isSearching"
  >
    <mat-table
      id="bank-list-table"
      #bankListTable
      [dataSource]="bankListDS"
      matSort
      multiTemplateDataRows
      class="custom-table alternating-row-color clickable-table mat-elevation-z8"
    >
      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let banks">{{ banks.BankId }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header
          >Bank Name</mat-header-cell
        >
        <mat-cell *matCellDef="let banks">{{ banks.BankName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell class="tcw-100" *matHeaderCellDef
          >Action</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <button
            mat-raised-button
            class="custom-button"
            color="accent"
            (click)="onDeleteBank(row)"
          >
            Delete
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="getDisplayColumns(); sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: getDisplayColumns()"
        (dblclick)="onTblRowDblClick(row)"
      >
      </mat-row>
    </mat-table>
  </div>
  <div>
    <mat-paginator
      [length]="banksLength"
      [pageSize]="banksPageSize"
      [pageSizeOptions]="banksPageSizeOption"
      (page)="loadBanksListPagination($event)"
      *ngIf="banksLength > banksPageSizeOption[0]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</div>
